<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Geocoding application</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>

</head>
<body>

    <h1>Welcome to the geocoding application.</h1>

</body>
</html>